@import './common/variable.scss';
@import './common/color.scss';

.jd-alter {
  // 有header或footer
  &.jd-dialog {
    /deep/ .el-dialog__body {
      padding: 0 40px;
    }
  }
  // 没有header和footer
  &.no-header {
    /deep/ .el-dialog__header {
      border-width: 0;
    }
    // TODO: 有待进一步验证
    // /deep/ .el-dialog {
    //   background: transparent;
    //   box-shadow: none;
    // }
  }
  &.no-footer {
    /deep/ .el-dialog__footer {
      border-width: 0;
    }
  }
  .dialog-header {
    .dialog-header-wrap {
      padding: 16px 26px 15px 24px;
    }
  }
  /deep/ .el-dialog {
    border-radius: 10px;
  }
  /deep/ .el-dialog__header {
    border-bottom: 1px solid $gray-11;
    padding: 0;
    .el-dialog__title {
      color: rgba($black-solid, .85);
      height: 24px;
      line-height: 24px;
      font-weight: 500;
      font-size: 16px;
    }
    .el-dialog__headerbtn {
      right: 22px;
      top: 18px;
    }
  }
  /deep/ .el-dialog__body {
    padding: 0;
  }
  /deep/ .el-dialog__footer {
    padding: 0;
    border-top: 1px solid $gray-11;
    .dialog-footer {
      .dialog-footer-wrap {
        padding: 15px 0;
      }
    }
  }
  &-title {

  }
  &-cancel {
    border-width: 0;
    margin-right: 30px;
    height: 32px;
    line-height: 32px;
  }
  &-btn {
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 40px;
  }
}
