@import './common/variable.scss';
@import './common/color.scss';

.jd-collapse-box {
  .collapse {
    padding-bottom: 16px;
    padding-top: 6px;
    p {
      cursor: pointer;
      font-size: 14px;
      color: $black-deep;
      span {
        margin-right: 10px;
      }
    }
    .iconfont {
      display: inline-block;
      color: $gray-9;
      font-size: 12px;
      transform: rotateZ(-90deg);
      cursor: pointer;
      &.active {
        transform: rotateZ(90deg);
      }
    }
  }
  /* 有标题 */
  .collapse-title {
    .collapse {
      padding-bottom: 10px;
      border-bottom: 1px solid rgba($color: $gray-10, $alpha: 0.5);
      p {
        display: inline-block;
      }
    }
  }
  /* 无标题 */
  .no-collapse-title {
    .collapse {
      text-align: center;
    }
  }
}
