@import './common/variable.scss';
@import './common/color.scss';

.jd-input-box {
  display: inline-block;
  height: 50px;
  vertical-align: top;
  margin-bottom: 40px;
  > div {
    height: 100%;
    width: 100%;
  }
  /* .input-input {
    .input {
      input {
        border: 1px solid $gray-11;
      }
    }
  } */
  .input {
    display: inline-block;
    position: relative;
    width: 260px;
    height: 100%;
    vertical-align: top;
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 14px;
      padding: 0 0 0 10px;
      box-sizing: border-box;
      outline: none;
      border-color: $button-fill;
      border-width: 1px;
      background-color: transparent;
      z-index: 2;
    }
    .placeholder {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      font-size: 14px;
      font-weight: 400;
      color: $gray;
      user-select: none;
      z-index: 1;
    }
  }
  button {
    padding: 0;
    font-weight: 400;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    vertical-align: top;
  }
  .all-in {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: $a;
    z-index: 3;
    user-select: none!important;
  }
  .confirm {
    float: right;
    width: 142px;
    height: 50px;
    line-height: 50px;
    color: $white;
    background-color: $button-fill;
    font-size: 14px;
  }
  .format {
    font-size: 12px;
    font-weight: 400;
    color: $black;
    padding-top: 4px;
    padding-left: 7px;
    width: 260px;
  }
  .warning {
    font-size: 12px;
    font-weight: 400;
    color: $red-2;
    padding-left: 7px;
  }
}
