@import './common/variable.scss';
@import './common/color.scss';

.jd-message {
  &-wrap {
    display: flex;
    padding-top: 51px;
    // 图标
    .icon-wrap {
      margin-right: 20px;
      width: 40px;
      height: 40px;
      .iconfont {
        font-size: 40px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
      }
    }
    // 信息
    .info-wrap {
      flex: 1;
      h2 {
        margin-top: 10px;
        margin-bottom: 20px;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        font-weight: 500;
      }
      p {
        color: $black;
      }
    }
    // 成功
    &.success {
      padding-bottom: 99px;
      .icon-wrap {
        .iconfont {
          color: $green;
        }
      }
      .info-wrap {
        h2 {
          color: $green;
        }
      }
    }
    // 失败
    &.fail {
      padding-bottom: 99px;
      .icon-wrap {
        .iconfont {
          color: $red-2;
        }
      }
      .info-wrap {
        h2 {
          color: $red-2;
        }
      }
    }
    // 信息
    &.info {
      padding-top: 32px;
      padding-bottom: 41px;
      .icon-wrap {
        width: 22px;
        height: 22px;
        .iconfont {
          height: 22px;
          font-size: 22px;
          color: $orange-deep;
        }
      }
      .info-wrap {
        h2 {
          padding: 0;
          margin-bottom: 12px;
          font-size: 16px;
          height: 24px;
          line-height: 24px;
          font-weight: 500;
          color: $black-solid;
        }
        p {
          color: rgba($black-solid, .65);
          line-height: 22px;
          font-weight: 400;
        }
      }
    }
  }
}
