@import './common/variable.scss';
@import './common/color.scss';

.jd-normal-tab {
  &-titles {
    width: 100%;
    display: flex;
    li {
      &>:first-child {
        text-align: center;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        &>:first-child {
          border-right-width: 0;
        }
      }
    }
    .active {
      div {
        color: $black-shallow;
        background-color: $white;
        border-color: $bg-gray;
      }
    }
    .tab-default-title {
      flex: 1;
      padding: 13px 23px;
      color: $gray-2;
      background-color: $gray-deep;
      font-size: 16px;
      line-height: 20px;
      border-right: 2px solid $white;
    }
  }
}
