@import './common/variable.scss';
@import './common/color.scss';

.jd-step {
  display: inline-block;
  &.small {
    li {
      padding-right: 34px;
      .j-s-circle {
        i {
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 13px;
          font-weight: 400;
        }
      }
      .line {
        width: 40px;
        top: 10px;
        right: -2px;
      }
    }
  }
  &.middle {
    li {
      padding-right: 274px;
      .j-s-circle {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 25px;
      }
      .line {
        width: 260px;
        top: 20px;
        right: 12px;
      }
    }
  }
  li {
    float: left;
    position: relative;
    cursor: pointer;
    &.active {
      .j-s-circle {
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        i {
          background-color: $red;
        }
      }
      .line {
        border-color: $red;
      }
      .j-s-info {
        color: $red;
        font-size: 12px;
      }
    }
    &.active-last {
      .line {
        border-color: $gray-c9;
      }
    }
    &:last-child {
      padding-right: 0;
      ::after {
        clear: both;
      }
      .line {
        display: none;
      }
    }
    .j-s-circle {
      margin-bottom: 7px;
      i {
        font-style: normal;
        display: block;
        margin: 0 auto;
        text-align: center;
        border-radius: 50%;
        background-color: $gray-15;
        color: $white;
        text-align: center;
        &.current {
          line-height: 12px;
          font-size: 18px;
        }
      }
    }
    .line {
      position: absolute;
      height: 1px;
      border-bottom: 1px dashed $gray-c9;
    }
    .j-s-info {
      color: $gray;
      font-weight: 400;
      line-height: 14px;
      text-align: center;
      font-size: 13px;
    }
  }
}
