@import './common/variable.scss';
@import './common/color.scss';

.jd-tab-box {
  background-color: $white;
  border-bottom: 2px solid $gray-7;
  padding-top: 18px;
  .tab {
    /* width: 320px; */
    /deep/ .el-tabs__header {
      margin-bottom: 0;
    }
    /deep/ .el-tabs__nav-wrap::after {
      display: none;
    }
    // tab 字体
    /deep/ .el-tabs__item {
      padding: 0 34px;
      color: $gray;
      font-size: 18px;
      &.is-active {
        color: $blue;
      }
    }
    // tab下划线
    /deep/ .el-tabs__active-bar {
      background-color: $blue;
    }
  }
  .aibank {
    // tab 字体
    /deep/ .el-tabs__item {
      &.is-active {
        color: $aibank-blue;
      }
    }
    // tab下划线
    /deep/ .el-tabs__active-bar {
      background-color: $aibank-blue;
    }
  }
}
