@import './common/variable.scss';
@import './common/color.scss';

.jd-match-table /deep/ .first {
  padding-left: 48px;
}
.jd-match-table /deep/ .active .first {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: $red;
    top: 0;
    left: 0;
  }
}
.jd-match-table {
  width: 700px;
  background-color: $white;
  .table-head {
    font-size: 12px;
    font-weight: 400;
    color: $black;
    &.operate {
      margin-right: 30px;
    }
  }
  .table-head-padding {
    margin-left: 48px;
  }
  .normal {
    font-size:14px;
    color:#333;
  }
  .pagination {
    padding: 24px 30px 43px 0;
    .size {
      color: $black;
      font-size: 13px;
      font-weight: 400;
      margin-right: 100px;
    }
  }
  // 方块背景色
  /deep/ .el-pagination.is-background .btn-next,
  /deep/ .el-pagination.is-background .btn-prev,
  /deep/ .el-pagination.is-background .el-pager li {
    background-color: $white;
    border: 1px solid $border-gray;
    border-radius: 4px;
    font-weight: 400;
  }
  // 当前页样式
  /deep/ .el-pagination.is-background .el-pager .active {
    background-color: $button-fill;
    border-color: $button-fill;
  }
  // 跳至样式
  /deep/ .el-pagination.is-background .el-pagination__jump {
    font-size: 12px;
  }
}
