@import './common/variable.scss';
@import './common/color.scss';

.jd-tooltip {
  display: inline-block;
  .iconfont {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    transform: scale(0.8);
    color: $gray;
  }
  .iconfont:hover {
    color: $red;
    cursor: pointer;
  }
  .iconfont.active {
    color: $red;
  }
}
