@import './common/variable.scss';
@import './common/color.scss';

.jd-verify-code-small {
  width: 197px;
  height: 28px;
  border: 1px solid $gray-c9;
  position: relative;
  display: inline-block;
  input {
    outline: none;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 13px;
    margin: 0;
    padding: 0;
    border-width: 0;
  }
  .operate {
    position: absolute;
    right: 0;
    top: 4px;
    height: 18px;
    width: 56px;
    border-left: 1px solid $gray-c9;
    text-align: center;
    a {
      height: 18px;
      line-height: 18px;
      color: $blue;
      font-size: 14px;
      text-decoration: none;
      display: block;
    }
    .spare-time {
      display: block;
      height: 18px;
      line-height: 18px;
    }
  }
}
