// base color
$red: #EC4C42;
$red-1: #E57462;
$red-2: #B81D14;
$red-3: #D80C18;
$red-4: #D81D1D;
$orange-deep: #D0530A;
$orange: #EAAC5F;
$orange-deep: #FAAD14;
$white: #fff;
$white-1: #FFFDFB;

// green
$green: #7EC456;

// bg
$bg-gray: #F7F7F7;

// font color
$black-deep: #333333;
$black: #666666;
$black-solid: #000000;
$black-shallow: #4A4A4A;
$black-27: #272727;
$black-3: #333333;
$black-4: #444444;
$black-5: #111111;
$black-6: #616161;
$black-border: #1A294E;
$black-bg: rgb(0, 0, 0);

// opacity
$opacity-0: rgba(0,0,0,0);
$opacity-3: rgba(0,0,0,0.3);

$gray: #999999;
$gray-2: #9B9B9B;
$gray-4: #CDCDCD;
$gray-5: #F1F1F1;
$gray-6: #BCBCBC;
$gray-7: #DADADA;
$gray-8: #979797;
$gray-9: #CACACA;
$gray-10: #DDDDDD;
$gray-e2: #E2E2E2;
$gray-11: #D4D4D4;
$gray-12: #E5E7E9;
$gray-13: #888888;
$gray-14: #F9F9FA;
$gray-f9: #F9F9F9;
$gray-15: #E7E8EB;
$gray-16: #9FA0A0;
$gray-17: #E1E1E1;
$gray-deep: #EBEBEB;
$gray-bg: #E7E6E7;
$gray-bg-select: #F1F4FC;
$gray-bg-tab: #EDEEF0;
$gray-c9: #c9c9c9;
$gray-eye: #BFBFBF;
$gray-default: #DCDFE6;

// table激活色
$table-active: #FAFAFA;
$table-hover: #ecf5ff;

$blue: #07325F;
$blue-2: #002F5F;
$blue-3: #1A229B;
$blue-4: #678FD5;
$blue-5: #1A294E;
$blue-tab: #8C9FB3;
$blue-shallow: #037DAE;
$blue-shallow-more: #E4EEFB;

$shadow: rgba(69,91,107,.10196);
$shadow-red: #7F0C13;

// 通告
$notification-bg: #FBEAD8;
$notification-text: #242424;

// 边框
$border-gray: #D8D8D8;
$border-gray-1: #E5E5E5;
$border-gray-2: #DDE1E3;

// a标签
$a1: #678FD5;
$a: #1658CA;

// button
$button-fill: #002F5F;
$button-hover: #004489;

// ======= aibank =======
// button

$aibank-blue: #02669B;
$aibank-blue-hover: #3487B3;
$aibank-blue-disabled: #A5CCE0;
$aibank-blue-text: #E1E1E1;
