@import "./variable";

html {
  font-family: -apple-system,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: 1px;
  line-height: 1.42858;
}
div, p, span, h1, h2, h3, h4, h5, h6, a, ul, li, ol, form {
  box-sizing: border-box;
  margin: 0;
}

ul, ol, li {
  list-style: none;
  padding: 0;
}

button {
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.a {
  color: $a;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $a1;
  }
}

.el-select-dropdown__item {
  padding: 0 20px !important;
}

.clearfix {
  &::before, &::after {
    content: '';
    display: table;
    height: 0;
    line-height: 0;
    clear: both;
  }
}
// echarts hover弹框层级
.echarts-home {
  div {
    z-index: $echart-index !important;
  }
}

// checkbox统一样式
// .jd-checkbox {
//   font-size: 12px;
//   /deep/ .el-checkbox__inner {
//     height: 12px;
//     width: 12px;
//     background-color: $black-border;
//     border-color: $black-border;
//     &:after {
//       left: 3px;
//       top: 0;
//     }
//   }
// }

// tooltip统一样式
.el-tooltip__popper.is-light.tooltip-popper {
  background-color: $bg-gray;
  box-shadow: 0px 2px 4px 0px rgba(9, 11, 30,0.36);
  border: none;
  border-radius: 2px 2px 2px 0px;
  padding: 5px 10px;
}
.el-tooltip__popper.is-light.tooltip-popper[x-placement^=top] .popper__arrow {
  border-top-color: $bg-gray;
  /* background-color: $; */
  &::after {
    border-top-color: $bg-gray;
    box-shadow: 0px 2px 7px -3px rgba(9, 11, 30,0.36);
  }
}
